{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_onetopic/formelement_tabstyles

    Form element template.

    Context variables required for this template:
    * name - form element name
    * id - element id
    * value - element value
    * attributes - list of additional attributes containing name, value
    * readonly - bool

    Example context (json):
    {
        "name": "test",
        "id": "test0",
        "value": "A tall, dark stranger will have more fun than you.",
        "size": "21",
        "forceltr": false,
        "readonly": false,
        "attributes": [ { "name": "readonly", "value": "readonly" } ],
        "cssunits": [
            { "value": "px", "label": "px" },
            { "value": "em", "label": "em" },
            { "value": "%", "label": "%" }
        ],
        "csssizeoptions": [ "8", "9", "10", "11", "12", "14", "16", "18", "20", "22", "24", "26", "28", "36", "48", "72" ],
        "colorpicker": "",
        "modalid": "onetopic-styleswindow",
        "modaltitle": "Configure subsection styles",
        "showtabicon": false,
        "testingmode": true
    }
}}
{{^expanded}}
<button id="tabstylesdisplay" class="btn btn-secondary">{{#str}} tabstylesdisplay, format_onetopic {{/str}} {{#pix}} t/expanded {{/pix}}</button>
<p>{{#str}} tabstylesdisplay_help, format_onetopic {{/str}}</p>
{{/expanded}}
<div id="onetopic-tabstyles" class="form-text defaultsnext format-onetopic {{^expanded}}hidden{{/expanded}}">
    <span class="pix-oneline-left hidden">{{#pix}} t/collapsed_rtl {{/pix}}</span>
    <span class="pix-oneline-right hidden">{{#pix}} t/collapsed {{/pix}}</span>
    <div id="tabs-tree-start">
    {{!
        Input to save the configured styles.
    }}
        <textarea {{#readonly}}disabled{{/readonly}} name="{{name}}" id="{{id}}" class="savecontrol hidden">{{value}}</textarea>

        {{^readonly}}
            <div class="tabstyleset-buttons">
                <button id="tabstylesetdefault" class="btn btn-secondary">{{#str}} tabstylesetdefault, format_onetopic {{/str}}</button>
                <button id="tabstylesetactive" class="btn btn-secondary">{{#str}} tabstylesetactive, format_onetopic {{/str}}</button>
                <button id="tabstylesetparent" class="btn btn-secondary">{{#str}} tabstylesetparent, format_onetopic {{/str}}</button>
                <button id="tabstylesethighlighted" class="btn btn-secondary">{{#str}} tabstylesethighlighted, format_onetopic {{/str}}</button>
                <button id="tabstylesetdisabled" class="btn btn-secondary">{{#str}} tabstylesetdisabled, format_onetopic {{/str}}</button>
                <button id="tabstylesethover" class="btn btn-secondary">{{#str}} tabstylesethover, format_onetopic {{/str}}</button>
                <button id="tabstylesetchilds" class="btn btn-secondary">{{#str}} tabstylesetchilds, format_onetopic {{/str}}</button>
                <button id="tabstylesetchildindex" class="btn btn-secondary">{{#str}} tabstylesetchildindex, format_onetopic {{/str}}</button>
                <button id="tabstylesetcontent" class="btn btn-secondary">{{#str}} tabstylesetcontent, format_onetopic {{/str}}</button>
                <button id="tabstyleclear" class="btn btn-warning">{{#str}} tabstyleclear, format_onetopic {{/str}}</button>
            </div>
            <p>{{#str}} tabstylebuttons_help, format_onetopic {{/str}}</p>
        {{/readonly}}

        {{#tabviews.0}}
        <ul class="nav nav-pills mb-3" id="tabstyles-viewpills" role="tablist">
            {{#tabviews}}
            <li class="nav-item" role="presentation">
                <a class="nav-link {{#active}}active{{/active}}" id="pill-{{key}}" data-toggle="pill" href="#tabview-{{key}}" role="tab" aria-controls="tabview-{{key}}" aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}">{{label}}</a>
            </li>
            {{/tabviews}}
        </ul>
        <div class="tab-content" id="tabstyles-viewcontent">
            {{#tabviews}}
            <div class="tab-pane fade {{#active}}show active{{/active}}" id="tabview-{{key}}" role="tabpanel" aria-labelledby="pill-{{key}}">
                <div class="tabs-example-panel {{cssclass}} hastopictabs">
                    <div class="tabs-wrapper">
                        {{>format_onetopic/courseformat/tabtree}}
                    </div>
                    <div class="onetopic-tab-body">
                        {{^hassubtabs}}
                        {{#secondrow}}
                            {{>format_onetopic/courseformat/tabtree}}
                        {{/secondrow}}
                        {{/hassubtabs}}
                        <div class="content course-content-item-content p-3">
                            {{> format_onetopic/formelement_sampleactivities}}
                        </div>
                    </div>
                </div>
            </div>
            {{/tabviews}}
        </div>
        {{/tabviews.0}}

        {{^tabviews.0}}
        {{! Fallback: no tabviews provided (admin setting context). Show default + vertical previews. }}
        <h3>{{#str}} tabsview_default, format_onetopic {{/str}}</h3>
        <div id="tabs-example" class="hastopictabs">
            <div class="tabs-wrapper">
                {{>format_onetopic/courseformat/tabtree}}
            </div>
            <div class="onetopic-tab-body">
                {{#secondrow}}
                    {{>format_onetopic/courseformat/tabtree}}
                {{/secondrow}}
            </div>
        </div>

        <h3>{{#str}} tabsview_vertical, format_onetopic {{/str}}</h3>
        <div id="tabs-example-vertical" class="verticaltabs hastopictabs">
            <div class="tabs-wrapper">
                {{>format_onetopic/courseformat/tabtree}}
            </div>
            <div class="onetopic-tab-body">
                {{#secondrow}}
                    {{>format_onetopic/courseformat/tabtree}}
                {{/secondrow}}
            </div>
        </div>
        {{/tabviews.0}}

        {{> format_onetopic/formelement_stylesmodal}}
    </div>
</div>
